*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* html tag uses Browser default font size and Browser default font size is 16px */
/* So here we have converted browser default font size to 10px */
/* Remember one thing 16px = 100% for this case */
/* So, here i converted 16px to 10px by this calculation (10/16 = .625*100 = 62.5)  */
/* Therefore, if we multiply .625 with browser default font size 16px then we will get 10px. (Ex: .625 * 16 = 10) */

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px, 10px/16px = 62.5%

    // @include respond-phone {
    //     font-size: 50%;
    // }

    @include respond(tab-land) {
        //width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        //width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1 rem = 12px, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
}
